.modal-background{
  width: 100%;
  height: 100%;
  max-width: 100%; 
  max-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 100;
}
.modal-container {
  width: 450px;
  height: 250px;
  border-radius: 10px;
  background-color:var(--white);
  box-shadow: var(--black) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  gap: 16px;
  
}

/* 視窗標題 */

.modal-header{
  color: var(--black);
  font-size: var(--h4-font-size);
  margin-bottom: 20px;
}
 
/* 視窗 body */
.modal-body{
  font-size: var(--h6-font-size);

}

.password-input{
  font-size: var(--h6-font-size);
  border: 2px solid var(--gray);
  border-radius: 5px;
  padding: 0px 8px;
  width: 200px;
}

/* 視窗 footer */
.modal-footer{
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.btn-cancel{
  font-size: var(--h6-font-size);
  width: 150px;
  background-color: var(--gray);
  border: none;
  border-radius: 5px;
  padding: 6px 0;
  cursor: pointer;
}
.btn-cancel:hover{
  background-color: var(--gray-deep);
  color: var(--white);
}
.btn-submit{
  font-size: var(--h6-font-size);
  width: 150px;
  background-color: var(--blue-main);
  border: none;
  border-radius: 5px;
  padding: 6px 0;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: var(--blue-deep);
  color: var(--white);
}