@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body{
  background-color: #00AAFF;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.container{
  display: flex;
  justify-content: center;
  margin: auto;
}
