.main{
  width: 70%;
  height: 70vh;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: var(--h3-font-size);
  color: var(--black);
}
.input{
  margin: 24px;
  display: flex;
  justify-content: end;
  color: var(--black);
  font-size: var(--h6-font-size);
}
.input-style{
  font-size: var(--h6-font-size);
  border: 2px solid var(--gray);
  border-radius: 5px;
  padding: 0px 8px;
}
.submit{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.btn-submit{
  width: 40%;
  border: 3px solid var(--blue-deep);
  border-radius: 15px;
  background-color: var(--blue-main);
  color: var(--blue-deep);
  cursor: pointer;
  font-size: var(--h6-font-size);
  padding: 4px;
}
.btn-submit:hover{
  background-color: var(--blue-deep);
  color: var(--white);
}