.room{
  width: 23.6%;
  height: 48%;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  position: relative;
}
.room a{
  width: 100%;
}
.room:hover{
  background-color: var(--pink-light);
  cursor: pointer;
  outline: 5px solid var(--pink-deep);
}
.isLocked{
  position: absolute;
  left: 85%;
  color:var(--gray-deep)
}
.room-img{
  border: 5px solid var(--pink-main);
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.room-name{
  font-size: var(--p-font-size);
  color: var(--black);
  text-align: center;
}
.room-info{
  margin-top: 16px;
  width: 100%;
}
.room-master{
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--black);
}
.people{
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--blue-deep);
  margin-top: 8px;
}