.room{
  width: 23.6%;
  height: 48%;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  position: relative;
}
.room a{
  width: 100%;
}
.room:hover{
  background-color: var(--pink-light);
  cursor: pointer;
  outline: 5px solid var(--pink-deep);
}
.isLocked{
  position: absolute;
  left: 85%;
  color:var(--gray-deep)
}
.room-img{
  border: 5px solid var(--pink-main);
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.room-name{
  font-size: var(--p-font-size);
  color: var(--black);
  text-align: center;
}
.room-cate{
  font-size: var(--p-font-size);
  color: var(--blue-deep);
  text-align: center;
}
.room-info{
  /* margin-top: 16px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.room-admin{
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--black);
}
.people{
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--blue-deep);

}