:root{
  /* 顏色 */
  --blue-deep:#0c0098;
  --blue-main:#00AAFF;
  --blue-light:#4AE9FF;
  --pink-deep:#DE4D4D;
  --pink-main:#F67690;
  --pink-light:#FFE7F5;
  --black:#121212;
  --white:#fdfdfd;
  --gray:#DDDDDD;
  --gray-deep:#8e8e8e;

  /* 文字大小 */
  --h1-font-size: 54px;
  --h2-font-size: 48px;
  --h3-font-size: 40px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;
  --p-font-size: 16px;
  --p-sm-font-size: 12px;
  
}